<?xml version="1.0" encoding="UTF-8"?>
<phpunit>
    <testsuites>
        <testsuite name="DbSimple Tests">
            <directory suffix=".phpt">t</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">lib</directory>
        </include>
    </coverage>
</phpunit>
